Ignore/
*.pptx
*.ppt
*.odt
*.tgz
*solution*
solution/
_data/
*.pyc
.ipynb*
*.zip
blood-cells/
dddd.py
readdata.py
05-Textons/cifar-10-batches-py/
*.tar.gz
*.tar
BSDS_small/
*.png
*.PNG
05-Textons/python/cifar-10-batches-py/
*.pptx
*.ppt
*.odt
07-BSDS/BSR/BSDS500/
*.tgz
*solution*
solution/
_data/
*.pyc
.ipynb*
*.zip
blood-cells/
*.jpg
*.JPEG
cifar-10-batches-py/
*.tar.gz
*.tar
05-Textons/python/*.txt
BSDS_small/
05-Textons/python/data
*.mat
*.png
*.jpg

13-FCN/logs/
13-FCN/imgs/
13-FCN/data/
13-FCN/fcb.berkeleyvision.org/

